/*Browsers have their own stylesheets, this first step
that I have added essentially resets that. You can find
some good information on the web about this at:
"meyerweb.com/eric/tools/css/reset/"*/
*{
  margin: 0;
  padding: 0;
}

h3 {
  color: orange; font-size: 35px;
}
p.italic {
  font-style: italic;
}
span {
  font-weight: bold;
}
ul {
  list-style-type: none;
}
body {
  border-style: inset;
  width: 300px;
}
div {
  border-style: inset; padding: 10px 15px 10px 15px;
}
